* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#webcam {
    display: none;
}

#canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
